<!DOCTYPE html>
<html>
<head>
<title>New Menu Item</title>
</head>

<body>

<form action="#" method="post">
<h1>New Menu Item</h1>

<label>
<p>Name:</p>
<p><input type="text" name="name"></p>
</label>

<label>
<p>Description:</p>
<p><input type="text" name="description"></p>
</label>

<label>
<p>Price:</p>
<p><input type="text" name="price"></p>
</label>

<label>
<p>Course:</p>

<input type="radio" name="course" value="Appetizer"> Appetizer<br>
<input type="radio" name="course" value="Entree"> Entree<br>
<input type="radio" name="course" value="Dessert"> Dessert<br>
<input type="radio" name="course" value="Beverage"> Beverage

</label>

<p><input type="submit" value="Create"> <a href="#">Cancel</a></p>

</form>
</body>

</html>