<!DOCTYPE html>
<html>
<head>
<title>Restaurants</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<p> <a href="{{url_for('newRestaurant')}}">New Restaurant</a></p>

<h1>Restaurants</h1>

{% if not restaurants %}
<p>You currently have no restaurants.</p>
{% endif %}

{% for restaurant in restaurants %}

<div>

<p>{{restaurant.name}}</p>

<p> <a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">Menu</a></p>

<p> <a href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}">Edit</a></p>

<p> <a href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">Delete</a></p>

</div>

{% endfor %}
</body>

</html>